# Vivado log files
vivado*.jou
vivado*.log
webtalk.jou
webtalk.log
vivado_pid*.str

# Vivado project files
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.xpr

# Emacs backup file
*~

# Tex equation file
*.aux
*.dvi
*.log
